{% extends 'pages/base.html' %}

{% block title %}PhiZone 工具{% endblock %}

{% block res %}<link rel="stylesheet" href="{% static 'css/sections.css' %}" />{% endblock %}

{% block header %}PhiZone 工具{% endblock %}

{% block content %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
    <li class="breadcrumb-item active">PhiZone 工具</li>
  </ol>
</nav>

<hr />

<div class="link-card-container">

  <div class="card link-card card-bg-phizone">
    <a href="{% url 'pages:phizone_ranking' %}" class="link-light">
      <div class="card-body">
        <h3 class="card-title">PhiZone 谱面评分排名</h3>
      </div>
    </a>
  </div>

  <div class="card link-card card-bg-phizone">
    <a href="{% url 'pages:phizone_vote' %}" class="link-light">
      <div class="card-body">
        <h3 class="card-title">PhiZone 谱面投票信息</h3>
      </div>
    </a>
  </div>

</div>

{% endblock %}

{% block page_pv %}<span id="vercount_value_page_pv"></span>{% endblock %}
