{% extends 'pages/base.html' %}

{% block title %}自制谱{% endblock %}

{% block res %}<link rel="stylesheet" href="{% static 'css/sections.css' %}" />{% endblock %}

{% block header %}自制谱{% endblock %}

{% block content %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
    <li class="breadcrumb-item active">自制谱</li>
  </ol>
</nav>

<hr />

<div class="link-card-container">
  <div class="card link-card card-bg-phigros">
    <div class="card-body">
      <h3 class="card-title"><a href="{% url 'pages:fanmade_charts_phigros' %}" class="link-light">Phigros 自制谱</a></h3>
    </div>
  </div>
</div>

{% endblock %}

{% block page_pv %}<span id="vercount_value_page_pv"></span>{% endblock %}
