<!DOCTYPE html>

<html lang="zh-Hans">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="大松的个人网站">

    {% load static %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <title>{% block title %}{% endblock %} - 大松的个人网站</title>

    <base target="_blank" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js"></script>

    <script defer src="https://vercount.one/js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NF4X7Z6N5L"></script>

    <script>
        // Highlight all codes
        hljs.highlightAll();

        // Google Analytics
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-NF4X7Z6N5L');

        // Show the website runtime
        window.onload = function() {
            var now = new Date();
            var startTime = new Date(2025, 2, 15);
            console.log(now, startTime)
            var diff = now - startTime
            var runtime = Math.floor(diff / 86400000);
            document.getElementById("runtime").innerHTML = "本网站已运行 " + runtime + " 天";
        }
    </script>

  </head>

  <body style="background-color: lightblue;">

    <div id="container bg-light" class="container">

      <div id="header" style="padding: 2.5rem;border-top-left-radius: 1.5rem;border-top-right-radius: 1.5rem;background-color: navy;">
        <h1 class="text-light" style="text-align: center;"><b>{% block header %}{% endblock %}</b></h1>
      </div>

      <div id="nav" class="nav ul" style="background-color: royalblue;">
        <ul>
          <li><a href="{% url 'pages:index' %}">首页</a></li>
          <li><a href="{% url 'pages:fanmade_charts' %}">自制谱</a></li>
          <li><a href="{% url 'pages:phira' %}">Phira 工具</a></li>
          <li><a href="{% url 'pages:phizone' %}">PhiZone 工具</a></li>
          <li><a href="{% url 'pages:notanote' %}">Notanote 工具</a></li>
          <li><a href="{% url 'pages:programming_index' %}">编程</a></li>
          <li><a href="{% url 'pages:posts_index' %}">帖子</a></li>
          <li><a href="{% url 'pages:special_thanks' %}">特别感谢</a></li>
          <li><strong><a href="{% url 'pages:introduction' %}">联系 & 反馈</a></strong></li>
        </ul>
      </div>

      <div id="pinned" style="padding: .6rem;background-color: lightgrey;text-align: center;">
        <p style="margin: 0;font-size: x-large;"><a href="https://qm.qq.com/q/s03NyJX1x6">加入 QQ 交流群</a></p>
        <p style="margin: 0;font-size: x-large;">喜欢本站？<a href="https://afdian.com/a/dason">打赏作者</a></p>
        <p id="ad" class="text-muted"><b>宣传</b>：奇谱发生器（Kipphi Apparatus）是由 Zes M Young 开发的一款电脑端网页制谱器，目前正在逐步完善中，详细介绍可查看 <a href="https://pgrfm.miraheze.org/wiki/%E5%A5%87%E8%B0%B1%E5%8F%91%E7%94%9F%E5%99%A8">官方 Wiki</a>，欢迎加入 QQ 群：478824121。</p>
      </div>

      <div id="content" style="padding: 1.5rem;border-bottom-left-radius: 1.5rem;border-bottom-right-radius: 1.5rem;background-color: whitesmoke;overflow: hidden;">
        {% block breadcrumb %}{% endblock %}
        {% block content %}{% endblock %}
      </div>

    </div>

    <div id="counter" style="margin: 1rem;text-align: center;font-size: larger;">
      <p id="vercount_container_site_pv" class="counter">本站总访问量 <span id="vercount_value_site_pv"></span> 次</p>
      <p id="vercount_container_site_uv" class="counter">本站总访客量 <span id="vercount_value_site_uv"></span> 人</p>
      <p id="vercount_container_page_pv" class="vercount">本页总访问量 {% block page_pv %}{% endblock %} 次</p>
    </div>

    <p id="runtime" style="text-align: center;font-size: larger;"></p>

    <div style="text-align: center;">
      <img src="{% static 'mps.png' %}" style="margin: 0;" alt="公安部" />
      <a href="http://beian.miit.gov.cn/" class="link-dark">沪ICP备2024097620号</a>
    </div>

  </body>

</html>
