{% extends "pages/base.html" %}

{% block title %}日记{% endblock %}

{% block header %}日记{% endblock %}

{% block breadcrumb %}
  <p id="breadcrumb"><a href="{% url 'pages:index' %}">首页</a> > 日记</p>
  <hr />
{% endblock %}

{% block content %}

  <p style="font-size: x-large;text-align: center;"><b>随便写点日记</b></p>

  <div id="pinned">
    <h2>置顶日记</h2>
    <div class="article_link">
      <h2><a href="{% url 'pages:diaries' id=1 %}">这个网站的第一篇日记</a></h2>
      <p>2025年3月15日</p>
    </div>
  </div>

  <hr />

  <div id="all">
    <h2>所有日记</h2>
    {% for diary in diaries %}
      <div class="article_link">
        <h2><a href="{% url 'pages:diaries' id=diary.id %}">{{ diary.title }}</a></h2>
        <p>{{ diary.date }}</p>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block page_pv %}<span id="busuanzi_value_page_pv"></span>{% endblock %}
