{% extends "pages/base.html" %}

{% block title %}自制谱{% endblock %}

{% block header %}自制谱{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item active">自制谱</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}
  <ul>
    <li><a href="{% url 'pages:fmchartsphi' %}">Phigros 自制谱</a></li>
  </ul>
{% endblock %}

{% block page_pv %}<span id="busuanzi_value_page_pv"></span>{% endblock %}
