{% extends "pages/base.html" %}

{% block title %}Phigros 自制谱{% endblock %}

{% block header %}Phigros 自制谱{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'pages:fmcharts' %}">自制谱</a></li>
      <li class="breadcrumb-item active">Phigros 自制谱</li>
  </nav>

  <hr />

{% endblock %}

{% block content %}
  {% for chart in charts %}
    <div class="card chart-link" style="border-radius: 20px;">
      <img class="card-img-top" src="{% static 'pages/fanmade_charts/phigros/'|add:chart.illustration %}" alt="{{ chart.title }} 曲绘" />
      <div class="card-body">
        <h3 class="card-title"><a class="link-dark" href="{% url 'pages:fmcharts_download' category='phigros' id=chart.id %}">{{ chart.title }}</a></h3>
        <p class="card-text" style="margin: 0"><b>{{ chart.difficulty }}</b></p>
        <p class="card-text" style="margin: 0"><b>日期</b>：{{ chart.date }}</p>
        <p class="card-text" style="margin: 0"><b>曲师</b>：{{ chart.composer }}</p>
        <p class="card-text" style="margin: 0"><b>曲绘画师</b>：{{ chart.illustrator }}</p>
        <p class="card-text" style="margin: 0"><b>谱师</b>：{{ chart.charter }}</p>
        <p class="card-text" style="margin: 0"><b>BPM</b>：{{ chart.bpm }}</p>
        <p class="card-text" style="margin: 0"><b>偏移</b>：{{ chart.offset }}</p>
        <p class="card-text" style="margin: 0"><b>物量</b>：{{ chart.notenum }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block page_pv %}<span id="busuanzi_value_page_pv"></span>{% endblock %}
