{% extends "pages/base.html" %}

{% block title %}Notanote 单曲 Rank 计算（v1.7.0）{% endblock %}

{% block header %}Notanote 单曲 Rank 计算（v1.7.0）{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'pages:notanote' %}">Notanote 工具</a></li>
      <li class="breadcrumb-item"><a href="{% url 'pages:nanrankcalc' %}">Notanote 单曲 Rank 计算</a></li>
      <li class="breadcrumb-item active">Notanote 单曲 Rank 计算（v1.7.0）</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}

  <p><a href="{% url 'pages:nanbest_v1.7.0' %}">Notanote B21 计算（v1.7.0）</a></p>

  <hr />

  <p>适用版本：v1.7.0至v1.10.0</p>
  <p style="color: red"><strong>此为使用旧版本公式的单曲 Rank 计算工具，若想前往使用最新版本公式的单曲 Rank 计算工具请去 <a href="{% url 'pages:nanrankcalc' %}">Notanote 单曲 Rank 计算</a></strong>。</p>

  <p><strong>准确率不带百分号。</strong></p>

  <form action="{% url 'pages:nanrankcalc_v1.7.0' %}" method="post">
    {% csrf_token %}
    <p>定数：{{ form.difficulty }}</p>
    <p>准确率：{{ form.acc }}</p>
    <button name="submit">计算</button>
  </form>

  {% if rank %}
    <p>单曲 Rank：{{ rank }}</p>
  {% endif %}

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

{% endblock %}
