{% extends "pages/base.html" %}

{% block title %}Notanote 工具{% endblock %}

{% block header %}Notanote 工具{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item active">Notanote 工具</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}
  <ul>
    <li><a href="{% url 'pages:nanbest' %}">Notanote B26 计算</a></li>
    <li><a href="{% url 'pages:nanrankcalc' %}">Notanote 单曲 Rank 计算</a></li>
  </ul>
{% endblock %}

{% block page_pv %}<span id="busuanzi_value_page_pv"></span>{% endblock %}
