{% extends "pages/base.html" %}

{% block title %}Phira 工具{% endblock %}

{% block header %}Phira 工具{% endblock %}

{% block breadcrumb %}

  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item active">Phira 工具</li>
    </ol>

  <hr />

{% endblock %}

{% block content %}
  <ul>
    <li><a href="{% url 'pages:prranking' %}">Phira 谱面评分排名</a></li>
    <li><a href="{% url 'pages:prgetfile' %}">Phira 谱面文件获取</a></li>
  </ul>
{% endblock %}

{% block page_pv %}<span id="busuanzi_value_page_pv"></span>{% endblock %}
