{% extends "pages/base.html" %}

{% block title %}Phira谱面文件获取{% endblock %}

{% block header %}Phira谱面文件获取{% endblock %}

{% block breadcrumb %}
  <p id="breadcrumb"><a href="{% url 'pages:index' %}">首页</a> > <a href="{% url 'pages:phira' %}">Phira工具</a> > Phira谱面文件获取</p>
  <hr />
{% endblock %}

{% block content %}

  <p>谱面页面链接最后的那串数字即为谱面ID，比如这张<a href="https://phira.moe/chart/10176">Super Nova Project</a>的谱面ID就是10176。</p>

  <form action="{% url 'pages:prgetfile' %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    {% if error %}
      <button name="submit">获取</button>
    {% else %}
      <button name="submit" style="margin-bottom: 20px;">获取</button>
    {% endif %}
  </form>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

{% endblock %}