{% extends "pages/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}编程{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'pages:programming_index' %}">编程</a></li>
      <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}

  <p style="text-align: center;">日期：{{ date }}</p>

  {% block article %}{% endblock %}

{% endblock %}

{% block page_pv %}<span id="busuanzi_value_page_pv"></span>{% endblock %}
