{% extends "pages/base.html" %}

{% block title %}编程{% endblock %}

{% block header %}编程{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item active">编程</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}

  <p style="font-size: x-large;text-align: center;"><b>用心写好每一篇教程</b></h2>

  <div id="pinned">
    <h2>置顶文章</h2>
    <div class="card article-link">
      <div class="card-body">
        <h3 class="card-title"><a class="link-dark" href="{% url 'pages:programming' id=1 %}">Python bezier 库超详细教程</a></h3>
        <p class="card-text">2024年10月2日</p>
      </div>
    </div>
  </div>

  <hr />

  <div id="all">
    <h2>所有文章</h2>
    {% for article in articles %}
      <div class="card article-link">
        <div class="card-body">
          <h3 class="card-title"><a class="link-dark" href="{% url 'pages:programming' id=article.id %}">{{ article.title }}</a></h3>
          <p class="card-text">{{ article.date }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block page_pv %}<span id="busuanzi_value_page_pv"></span>{% endblock %}
