{% extends "pages/base.html" %}

{% block title %}PhiZone 谱面投票信息{% endblock %}

{% block header %}PhiZone 谱面投票信息{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item active">PhiZone 工具</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}

  <p>注：谱面 ID 即谱面页面链接最后的那串字母和数字，比如这张 <a href="https://www.phizone.cn/charts/98e8c2cb-1c87-4b5d-b5d9-9f88bd46362b">星相运轨 -The End of Time-</a> 的谱面 ID 就是 98e8c2cb-1c87-4b5d-b5d9-9f88bd46362b。</p>

  <form action="{% url 'pages:pzvote' %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">查询</button>
  </form>

  {% if chart_info and votes %}

    <p><b>谱面信息</b></h2>：

    {% for info in chart_info %}
      <p>{{ info|safe }}</p>
    {% endfor %}

    <p><b>投票信息</b></h2>：

    <table class="table table-borded table-hover">

      <thead class="table-light">
        <th>投票者</th>
        <th>评分倍率</th>
        <th>配置</th>
        <th>游玩体验</th>
        <th>视觉效果</th>
        <th>创新度</th>
        <th>契合度</th>
        <th>印象</th>
        <th>总分</th>
      </thead>

      <tbody>
        {% for vote in votes %}
          <tr>
            <td><a href="https://www.phizone.cn/users/{{ vote.owner_id }}">{{ vote.owner }}</a></td>
            <td>{{ vote.multiplier }}</td>
            <td>{{ vote.arrangement }}</td>
            <td>{{ vote.gameplay }}</td>
            <td>{{ vote.visual_effects }}</td>
            <td>{{ vote.creativity }}</td>
            <td>{{ vote.concord }}</td>
            <td>{{ vote.impression }}</td>
            <td>{{ vote.total }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td><b>{{ total.owner }}</b></td>
          <td></td>
          <td><b>{{ total.arrangement }}</b></td>
          <td><b>{{ total.gameplay }}</b></td>
          <td><b>{{ total.visual_effects }}</b></td>
          <td><b>{{ total.creativity }}</b></td>
          <td><b>{{ total.concord }}</b></td>
          <td><b>{{ total.impression }}</b></td>
          <td><b>{{ total.total }}</b></td>
        </tr>
      </tbody>

    </table>

  {% endif %}

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

{% endblock %}
