{% extends "pages/base.html" %}

{% block title %}随机数生成{% endblock %}

{% block header %}随机数生成{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item active">随机数生成</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}

  {% if random_num %}

    <form action="{% url 'pages:randomnum' %}" method="post">
      {% csrf_token %}
      <p>最小值: {{ form.min }}</p>
      <p>最大值: {{ form.max }}</p>
      <p>小数位数: {{ form.decimal_places }}</p>
      <button name="submit">生成</button>
    </form>
    
    <p>结果：{{ random_num }}</p>

  {% else %}

    <form action="{% url 'pages:randomnum' %}" method="post" style="margin-bottom: 20px;">
      {% csrf_token %}
      <p>最小值: {{ form.min }}</p>
      <p>最大值: {{ form.max }}</p>
      <p>小数位数: {{ form.decimal_places }}</p>
      <button name="submit">生成</button>
    </form>

  {% endif %}

{% endblock %}
