{% extends 'pages/base.html' %}

{% block title %}随机数生成{% endblock %}

{% block header %}随机数生成{% endblock %}

{% block breadcrumb %}

  <nav id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
      <li class="breadcrumb-item active">随机数生成</li>
    </ol>
  </nav>

  <hr />

{% endblock %}

{% block content %}

  <form action="{% url 'pages:randomnum' %}" method="post" class="form" target="_self">
    {% csrf_token %}
    <p>
      <label for="min" class="form-label">最小值:</label>
      <input type="number" name="min" class="form-control" id="min" value="0" step="any" required>
    </p>
    <p>
      <label for="max" class="form-label">最大值:</label>
      <input type="number" name="max" class="form-control" id="max" value="10" step="any" required>
    </p>
    <p>
      <label for="decimal_places" class="form-label">小数位数:</label>
      <input type="number" name="decimal-places" class="form-control" id="decimal-places" value="1" min="0" required>
    </p>
    <button type="submit" class="btn btn-primary">生成</button>
  </form>

  {% if result %}
    <p>结果：{{ result }}</p>
  {% endif %}

  {% if errors %}
    {% for error in errors %}
      <p style="color: red;">{{ error }}</p>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block page_pv %}<span id="vercount_value_page_pv"></span>{% endblock %}
