{% extends 'pages/base.html' %}

{% block title %}Notanote PC 端下载{% endblock %}

{% block header %}Notanote PC 端下载{% endblock %}

{% block content %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">首页</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pages:notanote' %}">Notanote 工具</a></li>
    <li class="breadcrumb-item active">Notanote PC 端下载</li>
  </ol>
</nav>

<hr />

<ul>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/re-v2.0.2/Notanote_re-v2.0.2.zip">re:v2.0.2</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/re-v2.0.1/Notanote_re-v2.0.1.zip">re:v2.0.1</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/re-v2.0.0/Notanote_re-v2.0.0.zip">re:v2.0.0</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.9.1/Notanote_v2.9.1.zip">v2.9.1</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.9.0/Notanote_v2.9.0.zip">v2.9.0</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.8.0/Notanote_v2.8.0.zip">v2.8.0</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.7.3/Notanote_v2.7.3.zip">v2.7.3</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.5.2/Notanote_v2.7.2.zip">v2.7.2</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.5.2/Notanote_v2.6.0.zip">v2.6.0</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.5.2/Notanote_v2.5.2.zip">v2.5.2</a></li>
  <li><a href="https://gh.llkk.cc/https://github.com/Yao-student/Notanote-PC-Download/releases/download/v2.5.2/Notanote_v2.5.1.zip">v2.5.1</a></li>
</ul>

{% endblock %}

{% block page_pv %}<span id="vercount_value_page_pv"></span>{% endblock %}
